//* Today 배경색
:root {
  --fc-today-bg-color: transparant !important;
}

.calendar {
  margin-top: 16px;
  border: 0 !important;

  table {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
  }

  th,
  tbody {
    border: none !important;
    text-align: left !important;
  }
}

.dayHeader {
  padding-left: 8px !important;
  text-align: left !important;
  border: none !important ;
}

.dayCell {
  background-color: white !important;
  border: #d9d2ce;

  div {
    flex-direction: row !important;
    padding-left: 4px !important;
    // dayCell 내의 이벤트
    // opacity: 1 !important;
    // z-index: 1000 !important;
  }
}
