@import "tailwindcss";
/*
  /schedule view 내에 fullcalendar 라이브러리 사용 시, today의 배경색 override
*/
:root {
  --fc-today-bg-color: transparant !important;
}

@layer components {
  .h0-700-40 {
    @apply font-bold text-[40px] leading-[140%];
  }

  .h1-700-32 {
    @apply font-bold text-[32px] leading-[140%];
  }

  .h1-700-20 {
    @apply font-bold text-[20px] leading-[140%];
  }

  .h2-700-24 {
    @apply font-bold text-[24px] leading-[140%];
  }

  .h3-700-20 {
    @apply font-bold text-[20px] leading-[140%];
  }

  .h4-700-16 {
    @apply font-bold text-[16px] leading-[140%];
  }

  .h4-600-18 {
    @apply font-semibold text-[18px] leading-[140%];
  }

  .h5-700-14 {
    @apply font-bold text-[14px] leading-[140%];
  }

  .b1-500-20 {
    @apply font-medium text-[20px] leading-[150%];
  }

  .b1-500-12 {
    @apply font-medium text-[12px] leading-[150%];
  }

  .b1-400-20 {
    @apply font-normal text-[20px] leading-[150%];
  }

  .b1-400-12 {
    @apply font-normal text-[12px] leading-[150%];
  }

  .b2-700-16 {
    @apply font-bold text-[16px] leading-[150%];
  }

  .b2-600-16 {
    @apply font-semibold text-[16px] leading-[150%];
  }

  .b2-400-16 {
    @apply font-normal text-[16px] leading-[150%];
  }

  .b3-600-14 {
    @apply font-semibold text-[14px] leading-[150%];
  }

  .b3-500-14 {
    @apply font-medium text-[14px] leading-[150%];
  }

  .b3-400-14 {
    @apply font-normal text-[14px] leading-[150%];
  }

  .b3-500-12 {
    @apply font-medium text-[12px] leading-[150%];
  }

  .c1-400-12 {
    @apply font-normal text-[12px] leading-[150%];
  }

  /*MEMO: Tailwind Version 4로 업데이트 되어
    @layer component가 후행으로 반응형이 되는 상황
    이를 해결하기 위해 @apply를 사용하지 않고, 직접 클래스를 지정
  */

  @media (min-width: 768px) {
    .md\:h3-700-20 {
      @apply font-bold text-[20px] leading-[140%];
    }
  }

  @media (max-width: 640px) {
    .max-sm\:h3-700-20 {
      @apply font-bold text-[20px] leading-[140%];
    }

    .max-sm\:b1-500-12 {
      @apply font-medium text-[12px] leading-[150%];
    }

    .max-sm\:h5-700-14 {
      @apply font-bold text-[14px] leading-[140%];
    }
  }

  @media (min-width: 640px) {
    .sm\:h1-700-32 {
      @apply font-bold text-[32px] leading-[140%];
    }

    .sm\:b1-500-20 {
      @apply font-medium text-[20px] leading-[150%];
    }
  }
}

@theme {
  /* Screen sizes */
  --breakpoint-mobile: (min-width: 375px);
  /* Colors */
  --color-brown-900: #2b2a29;
  --color-primary-brown: #d9d2ce;
  --color-primary-red: #e65656;
  --color-btn-default: #e65656;
  --color-btn-disabled: #ada8a4;
  --color-btn-hover: #eb7777;
  --color-btn-unselected: #e8e4e1;
  --color-icon-default: #827e7b;
  --color-icon-unselect: #ada8a4;
  --color-icon-selected: #575452;
  --color-muted: #d9d2ce;
  --color-background-muted: #f0edeb;
  --color-accent: #ffffff;
  --color-default: #575452;
  --color-background-default: #f7f6f5;
  --color-secondary: #d9d2ce;
  --color-tertiary: #575452;
  --color-title: #2b2a29;
  --color-sub: #827e7b;

  /* Shadows */
  --shadow-s: 0 2px 4px rgba(224, 219, 215, 1);
  --shadow-m: 0 4px 8px rgba(224, 219, 215, 1);
  --shadow-lg: 0 8px 16px rgba(224, 219, 215, 1);
  --shadow-xl: 0 16px 24px rgba(224, 219, 215, 1);
}

/* Animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fadeOut {
  animation: fadeOut 4s ease-in-out;
}

/* Heights */
.h-calc-header {
  height: calc(100vh - 95px);
}
.min-h-calc-header {
  min-height: calc(100vh - 95px);
}
.max-h-calc-header {
  max-height: calc(100vh - 95px);
}
